.not-found {
  display: grid;
  grid-template-rows: 1fr auto;

  height: 100vh;
}

.not-found__container {}

.not-found__left {
  width: 275px;
}

.not-found__center {
  width: 1000px;
  box-sizing: border-box;
}